<% if @petition.open? %>
  <section class="about-item about-item-count-referral" id="referral-threshold" aria-labelledby="referral-threshold-heading">
    <% if @petition.will_be_referred? %>
      <h2 id="referral-threshold-heading"><%= t(:"ui.petitions.referral_threshold.waiting.heading") %></h2>
      <% if @petition.scot_parl_link? %>
        <p><%= t(:"ui.petitions.referral_threshold.waiting.link_html", link: @petition.scot_parl_link) %></p>
      <% end %>
    <% end -%>
  </section>
<% end %>
