<% if Site.disable_thresholds_and_debates? %>
  <section class="referral-notice" aria-labelledby="referral-notice-heading">
    <h2 id="referral-threshold-heading"><%= t(:"ui.petitions.referral_threshold.waiting.heading") %></h2>
    <% if @petition.scot_parl_link? %>
      <p><%= t(:"ui.petitions.referral_threshold.open.link_html", link: @petition.scot_parl_link) %></p>
    <% end %>
  </section>
<% else %>
  <div class="about-petitions">
    <%-
      order = ['referral_threshold', 'debate_threshold']
      order.reverse! if petition.debate_outcome? or petition.scheduled_debate_date? or petition.debate_threshold_reached_at?
    -%>
    <% order.each do |partial_name| -%>
      <%= render "petitions/#{partial_name}", petition: petition %>
    <% end -%>
  </div>
<% end %>
