<section aria-labelledby="search-petitions-heading">
  <%= form_tag search_path, method: 'get', enforce_utf8: false do %>
    <div class="field-group">
      <div class="field">
        <%= text_field_tag 'q', nil, autocomplete: 'off', id: 'search', placeholder: ' ' %>
        <label for="search" id="search-petitions-heading"><%= t(:"ui.home_page.search_petitions.heading") %></label>
      </div>
      <%= t(:"ui.home_page.search_petitions.submit_button_html") %>
    </div>
  <% end %>
</section>
