<%= link_to petition_path(petition) do %>
  <h2><%= petition.action %></h2>
  <p><%= t(:"ui.petitions.search.results.items.facet_rejected.rejected_date", date: short_date_format(petition.rejected_at)) %></p>
<% end %>
