<%= link_to petition_path(petition) do %>
  <h2><%= petition.action %></h2>
  <p><%= t(:"ui.petitions.search.results.items.facet_completed.completed_date", date: short_date_format(petition.completed_at)) %></p>
<% end %>
