<%= link_to "Back", admin_rejection_reasons_path, class: "back-link" %>

<h1>New Rejection Reason</h1>

<div class="grid-row">
  <div class="column-two-thirds extra-gutter">
    <%= form_for [:admin, @rejection_reason] do |form| %>
      <%= render 'form', form: form %>
    <% end %>
  </div>
</div>
