.email-preview {
  border-collapse: collapse;
  border: 1px solid $grey-2;
  margin: 0px 0px 18px 0px;

  thead {
    th {
      border-color: $grey-2;
      color: $grey-1;
      font-size: 18px;
      font-weight: normal;
      padding: 12px 3px 12px 48px;
    }

    td {
      border-color: $grey-2;
      padding: 12px 48px 12px 3px;
    }
  }

  tbody {
    td {
      border-color: $grey-2;
      padding: 24px 48px !important;
    }
  }
}

.notification-error {
  color: $red;
}
