form {
  margin: $gutter 0;
}

.field {
  background-color: $silver-10;
  display: flex;
  flex-flow: column-reverse;
  position: relative;

  label, input[type=text], textarea {
    transition: all 0.2s;
  }

  label {
    color: $silver-80;
    font-size: 0.75rem;
    height: 18px;
    margin-top: -18px;
  }

  input[type=text], textarea {
    background-color: transparent;
    box-sizing: border-box;
    border: 0;
    border-radius: 2px;
    font-size: 1rem;
    line-height: 1;
    height: 56px;
    padding: 26px 16px 10px 16px;
  }

  textarea {
    line-height: 1.25;
    overflow: hidden;
    resize: vertical;
  }

  textarea:placeholder-shown ~ label,
  input[type=text]:placeholder-shown ~ label {
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
    transform-origin: left bottom;
    transform: translate(16px, 42px) scale(1.5);
  }

  ::-webkit-input-placeholder {
    transition: inherit;
    opacity: 0;
  }

  input[type=text]:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  textarea:not(:placeholder-shown) ~ label,
  textarea:focus ~ label,
  input[type=text]:not(:placeholder-shown) ~ label,
  input[type=text]:focus ~ label {
    transform: translate(16px, 26px) scale(1);
    cursor: pointer;
  }

  input[type=text]:not(:placeholder-shown) ~ label {
    color: $silver;
  }

  textarea:focus ~ label,
  input[type=text]:focus ~ label {
    color: $purple;
  }

  .character-count {
    position: absolute;
    right: $gutter-half;
    bottom: $gutter-half;
    text-align: right;
    margin: 0;
    font-size: 1rem;
    line-height: 1;
  }

  .too-many-characters {
    color: $red;
  }
}

.field + .error-message {
  display: none;
}

.error {
  .field {
    input[type=text], textarea {
      border: 1px solid $red;

      &:focus {
        box-shadow: 0 0 0 3px $red;
      }
    }
  }

  .field + .error-message {
    display: inline-flex;
    color: $red;
    font-size: 1rem;
    line-height: 1.25;
    margin: $gutter-half 0 $gutter-three-quarters 0;
  }
}

.button {
  background-color: $purple;
  box-sizing: border-box;
  border: 0;
  border-radius: 2px;
  color: $white;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1;
  font-family: $futura-bold;
  font-weight: normal;
  height: 56px;
  padding: 18px;

  &:hover {
    background-color: $purple-60;
  }

  &:active {
    background-color: $purple-80;
  }
}

.field-group {
  display: flex;

  .field {
    flex-grow: 1;

    input {
      border-radius: 2px 0 0 2px;
    }
  }

  .button {
    border-radius: 0 2px 2px 0;
  }
}

.form-group {
  margin: 0 0 $gutter 0;

  @include media(tablet) {
    margin: 0 0 $extra-gutter 0;
  }

  p:first-child {
    margin: 0 0 $gutter-quarter 0;
  }
}
