body > header {
  position: relative;
  margin: -1px 0;
  padding: 18px 0;

  @include hover-links($white);

  .language-switcher {
    @extend %icon-globe;

    background-position: left center;
    font-size: 0.625rem;
    font-weight: bold;
    line-height: 1;
    padding: 1px 0 0 14px;
    position: absolute;
    right: 0;
    text-transform: uppercase;

    @include media(tablet) {
      font-size: 0.75rem;
      padding: 1px 0 0 16px;
    }
  }

  .brand {
    @extend %icon-logo;

    background-position: left top;
    background-size: contain;
    font-weight: bold;

    p {
      line-height: 1;
      margin: 0;
    }

    .logo {
      width: 300px;

      a {
        @include padding-left(56px, 64px);

        background-position: left top;
        display: block;
        padding-top: 1px;

        p {
          margin: 3px 0;
          @include font-size(0.75rem, 0.875rem);
        }
      }
    }

    .service {
      font-weight: bold;
      margin-top: 12px;
      @include font-size(1.25rem, 1.5rem);
      @include padding-left(56px, 64px);
    }
  }
}
