%icon-prefix {
  display: inline-flex;

  &::before {
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
}

a.forward-page {
  @extend %icon-prefix;

  &::before {
    content: image-url('frontend/sprite.svg#arrow-right');
  }
}

a.back-page {
  @extend %icon-prefix;

  &::before {
    content: image-url('frontend/sprite.svg#arrow-left');
  }
}
