%icon-prefix {
  display: inline-flex;

  &::before {
    flex-shrink: 0;
    margin-right: 5px;
    width: 20px;
    height: 20px;
  }
}

%icon-suffix {
  display: inline-flex;
  flex-direction: row-reverse;

  &::before {
    flex-shrink: 0;
    margin-left: 5px;
    width: 20px;
    height: 20px;
  }
}

.forward-page {
  @extend %icon-prefix;

  &::before {
    content: image-url('frontend/sprite.svg#arrow-right');
  }
}

.back-page {
  @extend %icon-prefix;

  &::before {
    content: image-url('frontend/sprite.svg#arrow-left');
  }
}

.email-heading {
  display: flex;

  &::before {
    content: image-url('frontend/sprite.svg#email');
    flex-shrink: 0;
    margin-right: $gutter-three-quarters;
    width: 34px;
    height: 25px;
  }

  @include media(tablet) {
    &::before {
      width: 40px;
      height: 29px;
    }
  }
}
