%animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

%bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

.threshold-petitions {
  margin-bottom: $gutter;

  .intro {
    color: $darker-grey;
    line-height: 1.375;
    margin: 0;
  }
}

section {
  & > .lede:first-child {
    @include font-size(1rem, 1.125rem);
    line-height: 1.5;

    background-color: $dark-blue;
    color: $white;
    font-weight: bold;
    margin: (-$gutter) (-$gutter) $gutter (-$gutter);
    padding: $gutter;

    @include media(tablet) {
      margin: (-$extra-gutter) (-$extra-gutter) $extra-gutter (-$extra-gutter);
      padding: $extra-gutter;
    }
  }
}

.notification {
  @extend %animated;
  @extend %bounce;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  background-color: $dark-blue;
  color: $white;
  padding: $gutter;
  position: relative;

  &::before {
    content: image-url('frontend/sprite.svg#alert-white');
    display: block;
    position: absolute;
    width: $gutter;
    height: $gutter;
    top: $gutter;
    left: $gutter;
  }

  p {
    margin: 0;
    padding-left: $extra-gutter;
  }

  & + details {
    margin-top: $gutter;
  }
}

.create-warning {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  background-color: $dark-blue;
  color: $white;
  margin: $gutter 0 $extra-gutter;
  padding: $gutter $gutter + $extra-gutter;
  position: relative;

  &::before {
    content: image-url('frontend/sprite.svg#alert-white');
    display: block;
    position: absolute;
    width: $gutter;
    height: $gutter;
    top: $gutter;
    left: $gutter;
  }

  h2 {
    font-size: 1.25rem;
    margin: 0;
  }

  p {
    font-size: 0.875rem;
  }
}

.duplicate-petitions, .search-results ol {
  margin: $gutter 0;

  @include media(tablet) {
    margin: $extra-gutter 0;
  }

  li {
    margin: $gutter 0;
  }

  a {
    transition: box-shadow 0.2s;
    background-color: $silver-5;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    display: block;
    font-weight: normal;
    padding: $gutter;

    h2 {
      @include font-size(1.25rem, 1.5rem);
      color: $purple;
      margin: 0 0 $gutter-half 0;
    }

    p {
      color: $text-color;
      margin: 0 0 $gutter-half 0;
    }

    p:last-child {
      color: $darker-grey;
      font-size: 0.875rem;
      margin: $gutter-half 0 0 0;
    }

    &:hover {
      background-color: $purple-10;
      text-decoration: none;

      h2 {
        text-decoration: underline;
      }
    }

    &:focus {
      @extend %no-outline;
      background-color: $purple-10;
      box-shadow: 0 0 0 4px $focus-color;
    }

    &:active {
      background-color: $purple-20;
    }
  }
}

.search-results {
  ol {
    a {
      h2 {
        margin-bottom: $gutter-quarter;
      }

      p:last-child {
        margin-top: $gutter-quarter;
      }
    }
  }
}

.search-pagination {
  display: flex;
  justify-content: space-between;
  margin: $gutter 0;

  @include media(tablet) {
    margin: $extra-gutter 0;
  }

  a {
    display: flex;
    flex-direction: column;
    font-family: $futura-book;
    font-weight: normal;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 48px;
    height: 48px;
    justify-content: center;

    &.previous {
      align-items: flex-start;
      background-image: image-url('frontend/sprite.svg#chevron-left');
      padding-left: $extra-gutter;
      background-position: center left;
    }

    &.next {
      align-items: flex-end;
      background-image: image-url('frontend/sprite.svg#chevron-right');
      padding-right: $extra-gutter;
      background-position: center right;
    }

    .page-count {
      color: $secondary-color;
      font-size: 0.875rem;
      text-decoration: none;
    }

    .paginate-label {
      font-size: 1.25rem;
      line-height: 1;
      padding-top: $gutter-quarter;
    }

    &:hover {
      text-decoration: none;

      .paginate-label {
        text-decoration: underline;
      }
    }
  }
}

.lists-of-petitions {
  background-color: $silver-5;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: $extra-gutter;
  padding: $gutter;

  summary {
    display: block;

    span {
      display: flex;
      font-size: 1.125rem;
      justify-content: space-between;

      &::before {
        width: 24px;
        height: 24px;
      }
    }
  }

  &[open] {
    & > div {
      margin: $gutter (-$gutter) 0;
      padding: 0 $gutter;

      ul {
        margin: 0;
        margin-top: $gutter;
      }

      li {
        margin: 0;
        margin-top: $gutter-half;
      }

      a {
        font-family: $futura-book;
        font-weight: normal;
        font-size: 1.125rem;
      }
    }
  }
}

.other-search-lists {
  ul {
    margin-top: $gutter-half;
  }

  li {
    margin-top: $gutter-quarter;
  }

  a {
    font-family: $futura-book;
    font-weight: normal;
    font-size: 1.25rem;
  }

  hr {
    margin: $gutter 0;
  }
}

.preview-petition {
  border-top: 1px solid $border-color;
  margin: $gutter (-$gutter);
  padding: $gutter $gutter 0;

  @include media(tablet) {
    margin: $extra-gutter 0;
    padding: $extra-gutter 0 0;
  }

  .action {
    color: $purple;
    margin: 0 0 $gutter-half 0;
  }

  .background {
    margin-top: $gutter;

    h3 {
      margin: $gutter-half 0 $gutter-quarter 0;
      font-size: 1.125rem;
    }

    p {
      font-family: $futura-book;
      font-size: 1.125rem;
      margin: $gutter-quarter 0 $gutter-half 0;
    }
  }

  .previous-action, .additional-details {
    margin-top: $gutter;

    h3 {
      font-family: $futura-bold;
      font-size: 1rem;
      margin: $gutter-three-quarters 0 $gutter-quarter 0;
    }

    p {
      margin: 0 0 $gutter-half 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}
