<%= form_tag local_petitions_path, method: 'get', enforce_utf8: false do %>
  <div class="field-group">
    <div class="field">
      <%= text_field_tag 'postcode', @postcode, placeholder: ' ' %>
      <label for="postcode"><%= t(:"ui.local_search.postcode") %></label>
    </div>
    <%= t(:"ui.local_search.submit_button_html") %>
  </div>
<% end %>
