<section aria-labelledby="page-heading">
  <h1 id="page-heading"><%= t(:"ui.feedback.thanks.heading") %></h1>

  <%= render 'messages' %>

  <%= t(:"ui.feedback.thanks.body_html") %>

  <p>
    <%= link_to t(:"ui.feedback.thanks.back_link"), home_path, class: 'forward-page' %>
  </p>
</section>
